<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fiap - que isso</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">

    <script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
    <script src="./js/env.js"></script>    
</head>
<body>

<nav class="nav has-shadow" id="top">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" href="">
                fiap - que isso
            </a>
        </div>
    </div>
</nav>
<div id="app" class="container profile">

    <div v-if="error" class="notification is-danger">              
        {{error}}
    </div>

    <div class="profile-options">
        <br>
    </div>

    <div class="box">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">

                    <div class="field has-addons">
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <a class="button is-info">
                                Exibir grupos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="spacer"></div>

    <div class="columns is-multiline">
        
        <div v-for="(slide, index) in slides" class="column is-one-quarter">
            <div class="card">                
                <div class="card-image">
                    <div v-if="slide.type === 'text'" style="font-size: 135px; text-align: center; background-color: #ccc" class="is-4by3">
                        {{slide.value}}
                    </div>

                    <figure v-if="slide.type === 'image'" class="image is-4by3">
                        <img :src="slide.value" alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <div class="content">
                        <span class="tag is-dark">{{slide.name}}</span>
                        <strong class="timestamp">{{slide.group}}</strong>
                    </div>
                </div>
                <footer class="card-footer">
                    <a @click.prevent="deleteSlide(index, slide)" class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>

        
    </div>
</div>

<script src="./js/vue-manage.js"></script>
</body>
</html>